<table class="dataList-table">
				
				
    <tbody><tr class="dataList-row dataList-row--header dataList-row--noHover">
        <th class="dataList-cell dataList-cell--min"><i class="fa fa-key fa-flip-horizontal" aria-hidden="true"></i> رمز البلدية</th>
<th class="dataList-cell"><i class="fa fa-home" aria-hidden="true"></i> التسمية العربية</th>
<th class="dataList-cell"><i class="fa fa-font" aria-hidden="true"></i> التسمية اللاتينية</th>
<th class="dataList-cell"><i class="fa fa-fax" aria-hidden="true"></i> رقم الفاكس</th>
<th class="dataList-cell"><i class="fa fa-university" aria-hidden="true"></i> الولاية</th>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0101</td>
<td class="dataList-cell">أدرار</td>
<td class="dataList-cell frtxt">ADRAR</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 36 - 78 - 27</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0102</td>
<td class="dataList-cell">تامست</td>
<td class="dataList-cell frtxt">TAMEST</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 94 - 61 - 52</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0104</td>
<td class="dataList-cell">رقان</td>
<td class="dataList-cell frtxt">REGGANE</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 32 - 01 - 29</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0105</td>
<td class="dataList-cell">انزجمير</td>
<td class="dataList-cell frtxt">IN ZGHMIR</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 97 - 22 - 40</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0106</td>
<td class="dataList-cell">تيط</td>
<td class="dataList-cell frtxt">TIT</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 97 - 92 - 94</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0108</td>
<td class="dataList-cell">تسابيت</td>
<td class="dataList-cell frtxt">TSABIT</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 34 - 80 - 28</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0111</td>
<td class="dataList-cell">زاوية كنتة</td>
<td class="dataList-cell frtxt">ZAOUIET KOUNTA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 97 - 46 - 44</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0112</td>
<td class="dataList-cell">أولف</td>
<td class="dataList-cell frtxt">AOULEF</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 97 - 73 - 00</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0113</td>
<td class="dataList-cell">تيمقطن</td>
<td class="dataList-cell frtxt">TIMEKTEN</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 98 - 55 - 22</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0114</td>
<td class="dataList-cell">تمنطيط</td>
<td class="dataList-cell frtxt">TAMANTIT</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 96 - 15 - 36</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0115</td>
<td class="dataList-cell">فنوغيل</td>
<td class="dataList-cell frtxt">FENOUGHIL</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 94 - 18 - 47</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0118</td>
<td class="dataList-cell">سالي</td>
<td class="dataList-cell frtxt">SALI</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 97 - 31 - 28</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0119</td>
<td class="dataList-cell">اقبلي</td>
<td class="dataList-cell frtxt">AKABLI</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 97 - 82 - 24</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0121</td>
<td class="dataList-cell">أولاد أحمد تيمي</td>
<td class="dataList-cell frtxt">OULED AHMED TIMMI</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 94 - 61 - 52</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0122</td>
<td class="dataList-cell">بودة</td>
<td class="dataList-cell frtxt">BOUDA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 94 - 31 - 87</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0126</td>
<td class="dataList-cell">سبع</td>
<td class="dataList-cell frtxt">SEBAA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (049) 94 - 71 - 49</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">أدرار</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0201</td>
<td class="dataList-cell">الشلف</td>
<td class="dataList-cell frtxt">CHLEF</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 77 - 32 - 01</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0202</td>
<td class="dataList-cell">تنس</td>
<td class="dataList-cell frtxt">TENES</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 76 - 64 - 82</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0203</td>
<td class="dataList-cell">بنايرية</td>
<td class="dataList-cell frtxt">BENAIRIA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 46 - 04 - 89</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0204</td>
<td class="dataList-cell">الكريمية</td>
<td class="dataList-cell frtxt">EL KARIMIA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 70 - 83 - 29</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0205</td>
<td class="dataList-cell">تاجنة</td>
<td class="dataList-cell frtxt">TADJENA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 42 - 49 - 70</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0206</td>
<td class="dataList-cell">تاقريت</td>
<td class="dataList-cell frtxt">TAOUGRITE</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 42 - 01 - 73</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0207</td>
<td class="dataList-cell">بني حواء</td>
<td class="dataList-cell frtxt">BENI HAOUA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 75 - 35 - 51</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0208</td>
<td class="dataList-cell">صبحة</td>
<td class="dataList-cell frtxt">SOBHA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 71 - 97 - 77</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0209</td>
<td class="dataList-cell">حرشون</td>
<td class="dataList-cell frtxt">HARCHOUN</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 44 - 33 - 48</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0210</td>
<td class="dataList-cell">أولاد فارس</td>
<td class="dataList-cell frtxt">OULED FARES</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 72 - 91 - 28</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0211</td>
<td class="dataList-cell">سيدي عكاشة</td>
<td class="dataList-cell frtxt">SIDI AKKACHA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 76 - 13 - 83</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0212</td>
<td class="dataList-cell">بوقادير</td>
<td class="dataList-cell frtxt">BOUKADIR</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 74 - 09 - 71</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0213</td>
<td class="dataList-cell">بني راشد</td>
<td class="dataList-cell frtxt">BENI RACHED</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 44 - 01 - 59</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0214</td>
<td class="dataList-cell">تلعصة</td>
<td class="dataList-cell frtxt">TALASSA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 46 - 32 - 62</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0215</td>
<td class="dataList-cell">الهرنفة</td>
<td class="dataList-cell frtxt">HERENFA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 42 - 23 - 64</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0216</td>
<td class="dataList-cell">وادي قوسين</td>
<td class="dataList-cell frtxt">OUED GOUSSINE</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 75 - 81 - 56</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0217</td>
<td class="dataList-cell">الظهر</td>
<td class="dataList-cell frtxt">DAHRA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 42 - 61 - 03</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0218</td>
<td class="dataList-cell">أولاد عباس</td>
<td class="dataList-cell frtxt">OULED ABBES</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 44 - 21 - 60</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0219</td>
<td class="dataList-cell">السنجاس</td>
<td class="dataList-cell frtxt">SENDJAS</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 70 - 01 - 43</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0220</td>
<td class="dataList-cell">الزبوجة</td>
<td class="dataList-cell frtxt">ZEBOUDJA</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 75 - 22 - 94</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
            
    <tr class="dataList-row dataList-row--noHover">
        <td class="dataList-cell dataList-cell--min dataList-cell--alt">0221</td>
<td class="dataList-cell">وادي سلي</td>
<td class="dataList-cell frtxt">OUED SLY</td>
<td class="dataList-cell">
                    <span dir="ltr" class="frtxt"> (027) 71 - 60 - 00</span>
                    <i class="fa " aria-hidden="true"></i>
                </td>
<td class="dataList-cell">الشلف</td>
    </tr>

        
    
    </tbody></table>